<div class="article col col-6 col-d-12 col-t-12">
  <a href="{{news.url | prepend: site.baseurl}}" target="_blank">
    <div class="article__inner">

      <div class="article__content flex column">

        {% if news.image %}
        <div class="mb-md-1 mb-lg-1">
          <img style="border-radius: 4px;" src="{{ news.image }} " />
        </div>
        {% endif %}
        
        <div>
          {% if title %}
          <h2 class="article__title">
            <span href="">{{ news.title }}</span>
          </h2>
          {% endif %}

          <p class="">{% if news.description %}{{ news.description }}{% else %}{{ news.content | strip_html | truncate: 80 }}{% endif %}</p>

          {% if news.cta %}
          <a class="button button--text" href="{{news.url | prepend: site.baseurl}}" target="_blank" style="margin-top: 16px;">
            {{ news.cta }}</a>
          {% endif %}
        </div>

      </div>
    </div>
  </a>
</div>