<div class="container">
  <div class="row">
    <div class="col col-12">
      <section class="banner banner-2 outline">
        <div class="mr-lg-3 mb-md-1">
          <img src="{{ card.image }}" />
        </div>
        <div class="banner__head pr-lg-2">
          <h2 class="banner__title">{{ card.title }}</h2>
          <p class="banner__subtitle">{{ card.description }}</p>
          <a href="{{ card.url }}" target="_blank" class="button button--primary" name="subscribe">{{ card.cta }}</a>
        </div>
      </section>
    </div>
  </div>
</div>