<!-- Portfolio -->
<section id="portfolio" class="hero-2 background-gray">
    <div class="container">
      <div class="row">
        <div class="col col-10 col-d-12">
          <div class="hero__inner">
              <h1 class="hero__title">{{ site.data.settings.portfolio.portfolio__title }}</h1>
              <p class="hero__description">{{ page.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio__gallery animate">
      <div class="container">
        <div class="row">
          {% for card in site.data.settings.portfolio.portfolio__gallery %}
            {% include card.html %}
          {% endfor %}
        </div>
        <!--  -->
        <div class="mb-3 mb-lg-5 mt-lg-1 snippet col">
          I've also worked with <a href="https://new.siemens.com/es/es.html">Siemens</a>, <a href="https://www.mutua.es/">Mutua Madrileña</a> <a href="https://ratedpower.com/">RatedPower</a>, <a href="https://menschcreative.org/">Mensch Creative</a>, <a href="https://hocelot.com/en/">Hocelot</a>, <a href="https://www.fintonic.com/es-ES/inicio/">Fintonic</a>, <a href="https://finrebel.com/">FinRebel</a> and <a href="https://www.fictizia.com/">Fictizia</a>, some of them through my studio <strong>Commit Sans</strong>.
        </div>
        <!-- / -->
      </div>
    </div>
    {% include banner.html %}
  </section>
  <!-- /Portfolio -->