<!-- begin portfolio -->
<section class="section portfolio banner-talks">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <span class="section-head">
              <!-- <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2> -->
              <h2 class="section__title">Upcoming talks</h2>
              <!-- <a class="section__link" href="{{ '/work/#speaker' | relative_url }}">View more</a> -->
            </span>
            <!-- <p class="section__subtitle">{{ site.data.settings.charlas.charlas__subtitle }}</p> -->
            <p class="section__subtitle">November 3rd · 5:00 PM – 7:00 PM CET · Online</p>
            <!-- <div class="portfolio__view">
              <div class="portfolio__toggle">
                <div class="icon">
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for card in site.data.settings.upcoming__talk %}
          {% include banner-2.html %}
        {% endfor %}
      </div>
      <hr style="margin-top: 16px;">
    </div>
  </div>

</section>
<!-- end portfolio -->