<!-- begin hero -->
<section class="hero hero-blog">
  <div class="container">
    <div class="row">
      <div class="col col-8 col-d-12 align-self-center">
        <div class="hero__inner">
          <h1 class="hero__title" style="font-family: Georgia, 'Times New Roman', Times, serif">El blog sobre diseño, urbanismo, death metal y lo que surja.</h1>
          <p class="hero__description">La semana pasada descubrí que nadie ha podido medir la velocidad de la luz, y hoy estoy leyendo sobre calcetines para perros. Soy <a href="https://ivoriginal.github.io/about">Ivo</a> y escribo lo que me da la gana.</p>
        </div>
      </div>
      <!-- <div class="col col-4 col-t-6 col-m-8 avatar">
        <img src="/images/blog-art.png" />
      </div> -->
    </div>
  </div>
</section>
<!-- end hero -->