---
layout: blog
title: El blog sobre diseño, urbanismo, autogestión y death metal
description: 
---

{% include section-hero-blog.html %}

<div class="container">
  <div class="blog-layout row animate justify-content-center justify-content-space-between">
    <div class="col col-7 col-m-12 col-t-12 col-d-12 justify-content-center blog-posts">
      <!-- <h4 class="blog__title">Artículos</h4> -->
      {% if site.posts.size > 0 %}
        {% for post in paginator.posts %}
          {% include article.html %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col col-4 col-m-12 col-t-12 col-d-12 mb-xs-2 categories">
      <h4 class="blog__title">Categorías</h4>
      <div class="tags">
        {% for tag in site.tags %}
          {% assign t = tag | first %}
          {% assign posts = tag | last %}
          <div class="tag">{{t | replace:" ","-" }}</div>
        {% endfor %}
      </div>      
    </div>
  </div>
</div>

{% include pagination.html %}