/* Article */
.article {
  // margin-bottom: 32px;
  will-change: transform;
  transition: transform .2s;
  // border-bottom: 1px solid gray;

  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
    // box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.07);

    .article__title a {
      text-decoration: underline;
      text-decoration-color: var(--link-color-hover);
    }
  }

  // adds solid background to cards
  .article__inner {
    background-color: white;
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 16px;

    // removes last card's margin bottom
    // .portfolio__gallery .container .row &:last-child {
    //   margin-bottom: 0;
    // }

  }

  @media only screen and (min-width: $tablet - 1) and (max-width: $desktop - 1) {

    width: 50%;

    // removes third card in tablet (portrait)
    .section .portfolio__gallery .container .row &:last-child {
        display: none;
      }
  }

}

.article__content .button {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.blog-posts .article {
  border-bottom: 1px solid var(--medium-gray);
  width: 100% !important;
}

.blog-posts .article:last-child {
  border-bottom: none;
}

.article__head {
  position: relative;
}

.article__date {
  top: 20px;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  border-radius: 8px;
  color: var(--heading-font-color);
  // background: var(--background-alt-color);
  pointer-events: none;
}

.article__image {
  position: relative;
  transform: translate(0);
  display: block;
  height: 0;
  margin-bottom: 16px;
  padding-bottom: 62%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-alt-color);

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid var(--medium-gray);
  }
}

.article__title {
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 4px;

  a {
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      color: var(--heading-font-color);
    }
  }
}

.article__excerpt {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-alt-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 
.banner__subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
} 
*/

// 
.card {

  .article__inner {
    border: 1px solid var(--medium-gray);
    border-radius: 8px;
  }

  .article__image {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
  }

  .article__content {
    padding: 16px;
    padding-top: 12px;
  }

  .tag {
    background-color: #fafafa;
    font-size: $base-font-size;
    margin-bottom: 0px;
    margin-top: 8px;
  }

}

// 
.now {

  .article__inner {
    // text-align: center;
    border: 1px solid var(--medium-gray);
    border-radius: 8px;
    background: white;
    padding: $base-spacing-unit * 1.5;
  }
  
  .article__title {
    // margin-bottom: 0px;
  }

  .article__image {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
  }

  // 
  .article__excerpt {
    font-size: $base-font-size;
    color: #202020;
  }

}

// 
.now .article, .work .article {
  margin-bottom: 32px
}

// BLOG
.blog {

  .article__inner {
    background: transparent;
    width: 100%;
    justify-content: space-between;
  }

  .img-container {
    width: 200px;
    min-width: 200px;
    height: 134px;

    @media only screen and (max-width: $desktop) {
      min-width: 134px;
      width: 134px;
      margin-left: 16px;
    }

    img {
      display: block;
      // max-width:230px;
      // max-height:95px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.blog-layout {
  @media only screen and (max-width: $desktop) {
    
    flex-direction: column-reverse;

    .blog__title {
      padding: 0;
    }

    .tags {
      display: flex;
      flex-direction: row;
      padding: 0;

      @media only screen and (max-width: $desktop) {
        white-space: nowrap;
        overflow: auto;
        // display: inline-block;
        width: 100%;
      }

      .tag {
        margin-right: 8px;
      }

    }

  }

  .categories {

    @media only screen and (max-width: $desktop) {
      border-bottom: 1px solid var(--medium-gray);
      margin-bottom: $base-spacing-unit;
      padding-bottom: $base-spacing-unit;
    }

    @media only screen and (min-width: $desktop) {
      border: 1px solid var(--medium-gray);
      padding: 16px;
      border-radius: 8px;
      height: max-content;
    }

  }

}

.blog-snippets {

  .article {
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  .article__inner {
    background: white;
    padding: 16px;
    border: 1px solid var(--medium-gray);
    border-radius: 8px;
    height: 100%;
    // align-items: center;

    @media screen and (max-width: $desktop) {
      flex-direction: column-reverse;
    }
  }

  .article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-container {
    @media screen and (max-width: $desktop) {
      width: 100%;
      height: 180px;
      margin-bottom: $base-spacing-unit / 2;
    }
  }

}