/* Hero */
.hero {
  background-color: #fafafa;
  margin-bottom: 40px;
  padding: 72px 0 56px 0;

  .hero__description a {
    // border-bottom: 2px solid var(--gray);
    background: var(--medium-gray);
    padding: 0px 4px;
  }

  // adjust home button position
  .button {
    margin-top: 8px;
    text-align: center;
  }

  @media only screen and (max-width: $desktop - 1) {
    
    // aligns content and text
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 40px 0px;
    text-align: center;
    
    // swaps img and text
    .row {
      flex-direction: column-reverse;
    }

    // fixes space between text and button
    .button {
      margin-top: 48px;
    }

  }

} // /button

.hero-blog {
  padding: 116px 0 56px 0;
  background-image: url(/images/funky-bg.png);
}

.blog {
  background-color: transparent;
}

.blog .button {
  padding: 8px 16px;
}

  // adjusted for subsections
  .hero-2 {
    // background-color: var(--light-gray);
    // margin-bottom: 40px;
    padding: 112px 0 32px 0;

    @media only screen and (max-width: $desktop) {
      padding: 116px 0 16px 0;
    }

  }

  .hero-2 .hero__title {
    margin-bottom: 0px !important;
  }

.hero__inner {
  @media only screen and (max-width: $desktop) {
    margin-top: -40px;
  }
  .hero__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: 40px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--text-alt-color);

    @media only screen and (max-width: $desktop) {
      font-size: inherit;
    }
  }
}

.avatar {
  @media only screen and (max-width: $desktop) {
    align-self: center;
    margin-top: 32px;
  }
}