---
layout: portfolio
title: Work
description: 'Cool stuff people pay me to do'
---

<!-- Portfolio -->
<section id="portfolio" class="hero-2 background-gray">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
            <h1 class="hero__title">Portfolio</h1>
            <p class="hero__description">{{ page.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for card in site.data.settings.portfolio.portfolio__gallery %}
          {% include card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include banner.html %}
</section>
<!-- /Portfolio -->

<!-- Courses -->
<section id="speaker" class="hero-3 background-gray">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
            <h1 class="hero__title">Talks</h1>
            <p class="hero__description">I talk about design in exchange for money and/or food</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-12">
        <p>
          <iframe width="100%" height="624" src="https://www.youtube.com/embed/7-pFv70Yz5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for card in site.data.settings.charlas.charlas__list %}
          {% include card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include banner.html %}
</section>
<!-- /Courses -->

<!-- Projects -->
<section id="projects" class="hero-3 background-gray">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
            <h1 class="hero__title">Projects</h1>
            <p class="hero__description">Stuff I don't get paid for</p>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for card in site.data.settings.projects.project__list %}
          {% include card.html %}
        {% endfor %}
      </div>
    </div>
  </div>

</section>
<!-- /Projects -->